@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb-primary: 122, 68, 36;
  --background: 254, 255, 243;
}

body {
  color: rgb(var(--foreground-rgb-primary));
  background: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.outline__standard {
  @apply outline outline-[#B6AF99] outline-1;
}
