.swiper {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 400px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

body{
    --swiper-navigation-color: white;
}